.img-macbook{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.m-t-85{
  margin-top: 85px;
}
.desc-portfolio{
  display: block;
  width: 100%;

}
.title-portfolio{
  font-family: "Montserrat";
  font-size: 40px;
  color: rgb(49, 74, 91);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 50px;
  //-moz-transform: matrix( 1.33496432787787,0,0,1.33496432787787,0,0);
  //-webkit-transform: matrix( 1.33496432787787,0,0,1.33496432787787,0,0);
  //-ms-transform: matrix( 1.33496432787787,0,0,1.33496432787787,0,0);
}
.desc-title{
  font-family: "Open Sans";
  font-size: 16px;
  color: #455a68;
}
.description1{
  margin-top: 25px;
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb(154, 160, 171);
}
.description2{
  margin-top: 25px;
  font-size: 15px;
  font-family: "Open Sans";
  color: rgb(154, 160, 171);
}
.more-red{

  color: #f0454c;
}
.m-t-40{
  display: block;
  margin-top: 40px;
}
.arrow-red{
  margin-left: 5px;
}





